{% extends "main.html" %}

{% block content %}


<div style="padding-top:100px;" class="bg-light d-flex align-items-center justify-content-center">


    <div class=" login-container bg-white p-4 rounded-shadow">
        {% if messages %}
            {% for message in messages %}
                <p class="alert alert-{{ message.tags }}">{{ message }}</p>
            {% endfor %}
        {% endif %}
        <h3 class="text-center mb-4">Login Your Account</h3>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>

            <div class="mb-3">
                <label for="password" class="form-control">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>

            <div class="d-grid">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </form>

        <p class="text-center mt-3 mb-0">
            Don't have an account? <a href="">Sign Up</a>
        </p>

    </div>
</div>

{% endblock content %}