{% extends "main.html" %}

{% block content %}

<div class="bg-light d-flex align-item-center justify-content-center" style="padding:100px">
    
    <div class="signup-container bg-white p-4 rounded shadow">
        {% if messages %}
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">
                    {{ message }}
                </div>
            {% endfor %}
        {% endif %}
        <h3 class="text-center mb-4">Create an Account</h3>

        <form action="" method="POST">
            {% csrf_token %}

            <div class="mb-3">
                <label for="username" class="form-label">Username</label>
                <input type="text" class="form-control" name="username" id="username" required>
            </div>
            <div class="mb-3">
                <label for="email" class="form-label">Email</label>
                <input type="email" class="form-control" name="email" id="email" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" name="password" id="password" required>
            </div>
            <div class="mb-3">
                <label for="password" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" name="conf_password" id="conf_password" required>
            </div>
            
            <div class="d-grid">
                <button type="submit" class="btn btn-success">Sign Up</button>
            </div>
        </form>
        <p class="text-center mt-3 mb-0">
            Already have an account? <a href="">Log in</a>
        </p>

    </div>

</div>

{% endblock content %}
